name: Run Cryptography Tests
on:
  schedule:
    - cron:  '0 6 * * *'
  workflow_dispatch:
    inputs:
      repository:
        type: choice
        default: https://github.com/dotnet/runtime.git
        options:
        - https://github.com/dotnet/runtime.git
        - https://github.com/vcsjones/runtime.git
      branch:
        type: string
        default: main
jobs:
  run-tests:
    runs-on: ubuntu-latest
    container:
      image: quay.io/centos/centos:stream9
    steps:
    - name: Setup Prerequisites
      run: |
        dnf -y groupinstall 'Development Tools'
        dnf install -y dnf-plugins-core epel-release
        dnf repolist --all
        dnf config-manager --set-enabled crb
        dnf install -y \
            clang \
            cmake \
            git \
            glibc-langpack-en \
            hostname \
            krb5-devel \
            libicu-devel \
            lld \
            llvm \
            make \
            openssl-devel \
            python3 \
            tar \
            util-linux \
            zlib-devel \
            lttng-ust-devel \
            libunwind-devel
    - name: Checkout Runtime
      run: |
        mkdir /projects
        cd /projects
        git clone ${{ github.event.inputs.repository }} runtime
        cd ./runtime
        git checkout ${{ github.event.inputs.branch }}
    - name: Build Runtime
      run: |
        cd /projects/runtime
        ./build.sh -rc release -s clr+libs
      env:
        OPENSSL_ENABLE_SHA1_SIGNATURES: "1"
    - name: Build Tests
      run: |
        cd /projects/runtime
        ./dotnet.sh build src/libraries/System.Security.Cryptography/tests
        ./dotnet.sh build src/libraries/System.Security.Cryptography.Csp/tests
        ./dotnet.sh build src/libraries/System.Security.Cryptography.X509Certificates/tests
        ./dotnet.sh build src/libraries/System.Security.Cryptography.Xml/tests
        ./dotnet.sh build src/libraries/System.Security.Cryptography.Pkcs/tests
        ./dotnet.sh build src/libraries/System.Security.Cryptography.OpenSsl/tests
      env:
        OPENSSL_ENABLE_SHA1_SIGNATURES: "1"
    - name: Run Tests
      run: |
        cd /projects/runtime
        ./dotnet.sh test --no-restore src/libraries/System.Security.Cryptography/tests | tee -a results.txt
        ./dotnet.sh test --no-restore src/libraries/System.Security.Cryptography.Csp/tests | tee -a results.txt
        ./dotnet.sh test --no-restore src/libraries/System.Security.Cryptography.X509Certificates/tests | tee -a results.txt
        ./dotnet.sh test --no-restore src/libraries/System.Security.Cryptography.Xml/tests | tee -a results.txt
        ./dotnet.sh test --no-restore src/libraries/System.Security.Cryptography.Pkcs/tests | tee -a results.txt
        ./dotnet.sh test --no-restore src/libraries/System.Security.Cryptography.OpenSsl/tests | tee -a results.txt
    - name: Upload Results
    - uses: actions/upload-artifact@v3
      with:
        name: results
        path: /projects/runtime/results.txt